/* signinDiv for Login Page */
#signInDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* Profile Navbar picture */
#Profile {
  border-radius: 50%;
  width: 50%;
}

/* Centers the h3 text content */
.apicontenth3 {
  text-align: center;
}

/* user form shaping */
.user {
  border: 2px solid #ccc;
  padding: 18px;
}

/* Scrollable css for the Whitelist content */
.scrollable {
  height: 450px;
  overflow-y: scroll;
  border: 2px solid #ccc;
  padding: 18px;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

/* Total Page CSS */
.page-container {
  overflow: auto;
  /* allow page to scroll if content overflows */
  margin-left: 30px;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
  min-height: 500px;
  /* minimum height for page one */
}

/* Footer CSS */
footer {
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer p {
  margin: 0;
}

/* Whitelist content UserForm and Whitelist*/
.whitelistContent {
  display: flex;
  justify-content: center;
}

/* For the adduser remove user forms*/
.formContainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin-left: 4px;
  margin-right: 4px;
}

.CameraStreams {
  text-align: center;
}

/* Transistion */
.list-transition-enter {
  opacity: 0;
}

.list-transition-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.list-transition-exit {
  opacity: 1;
}

.list-transition-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-out;
}

/* Camera Streams */
.CameraStreams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.cameras-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.camera-unit {
  width: 100%;
}