#signInDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#Profile {
  border-radius: 50%;
  width: 50%;
}

.apicontent {
  width: fit-content;
}

.apicontenth3 {
  text-align: center;
}

.adduser {
  border: 2px solid #ccc;
  padding: 18px;
}

.scrollable {
  height: 450px;
  overflow-y: scroll;
  border: 2px solid #ccc;
  padding: 18px;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.page-container {
  margin-left: 30px;
  margin-top: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer p {
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

#outer-div {
  width: 100%;
  text-align: center;
  background-color: #0666a3;
}

#inner-div {
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
  background-color: #8ebf42;
}

.whitelistContent {
  display: flex;
  align-items: center;
  align-content: center;
}

#my-form {
  background-color: lightgray;
  padding: 20px;
}

#my-form label {
  display: block;
}

#my-form input[type="email"] {
  width: 100%;
  margin-bottom: 20px;
}

#my-form input[type="checkbox"] {
  margin-bottom: 20px;
}

#my-form button[type="submit"] {
  width: 100%;
}

.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin-left: 2px;
}